:root {
  --clr-primary-900: #1f3251;
  --clr-primary-600: #7b879d;
  --clr-primary-300: #d6e2f0;
  --clr-primary-100: #ffffff;

  --ff-primary: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-700: 1.375rem;
  --fs-500: 0.9375rem;
  --fs-300: 0.6875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-300);
  font-family: var(--ff-primary);
  text-align: center;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;

  display: grid;
  place-items: center;
}

.card {
  background-color: var(--clr-primary-100);
  border-radius: 22.5px;
  padding: 1rem;
  width: 19.5rem;
  box-shadow: 0 1rem 1rem rgba(0 0 0 / 0.1);
}

.card > img {
  max-width: 100%;
  border-radius: 15px;
}

.card > h1 {
  color: var(--clr-primary-900);
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.card > p {
  color: var(--clr-primary-600);
  font-weight: var(--fw-regular);
}
